*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
  border: 1px solid transparent;
  outline: none;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.no-scroll {
  overflow: hidden;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  z-index: 200;
}
.navbar__navigation {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.navbar__menu-icon {
  width: 2rem;
  height: 2rem;
  padding: 2em;
  background-image: url("../../images/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
  transition: outline 0.3s;
}
.navbar__menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 65%;
  padding-top: 7em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.navbar__menu--link {
  padding: 0.5em;
  font-size: 2rem;
  font-weight: 700;
  transition: color 0.3s;
}
.navbar__menu--shadow {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.navbar__menu--active {
  transform: scaleX(1);
  opacity: 1;
}
.navbar__personal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar__cart-btn {
  position: relative;
  padding: 1em;
}
.navbar__cart-btn--added-items {
  position: absolute;
  top: 15%;
  right: 15%;
  font-size: 1rem;
  padding: 0.1em 0.6em;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 125, 26);
  border-radius: 12px;
  display: none;
}
.navbar__cart-btn--added-items-active {
  display: block;
}
.navbar__avatar {
  margin-right: 1em;
  padding: 0.5em;
  border-radius: 50%;
}
.navbar__avatar--img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid transparent;
}
.navbar__cart-preview {
  position: absolute;
  top: 6.4rem;
  right: 2.5%;
  width: 95%;
  max-width: 36rem;
  height: 25rem;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 18px 30px rgba(0, 0, 0, 0.3);
  opacity: 0;
  display: none;
}
.navbar__cart-preview--active {
  display: block;
  opacity: 1;
  animation: showCart 0.5s forwards;
}
.navbar__cart-preview .cart-preview__empty {
  width: 100%;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.navbar__cart-preview .cart-preview__empty--active {
  display: flex;
}
.navbar__cart-preview .cart-preview__empty--info {
  font-weight: 700;
  color: rgb(104, 112, 125);
}
.navbar__cart-preview .cart-preview__with-products {
  display: none;
}
.navbar__cart-preview .cart-preview__with-products--active {
  display: block;
}
.navbar__cart-title {
  padding: 2.5rem;
  font-size: 1.6rem;
  border-bottom: 1px solid rgb(182, 188, 200);
}
.navbar__cart-product {
  height: -moz-fit-content;
  height: fit-content;
  padding: 2.5rem;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar__cart-product--img {
  width: 15%;
  border-radius: 4px;
}
.navbar__cart-product--name, .navbar__cart-product--price, .navbar__cart-product--quantity {
  font-weight: 400;
  line-height: 150%;
  color: rgb(104, 112, 125);
}
.navbar__cart-product--value {
  margin-left: 0.5rem;
  font-weight: 700;
}
.navbar__cart-checkout-btn {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: rgb(255, 125, 26);
  border-radius: 8px;
}

@media (min-width: 768px) {
  .navbar {
    height: 9rem;
    border-bottom: solid 2px rgb(247, 248, 253);
  }
  .navbar__navigation {
    display: flex;
    flex-direction: row;
  }
  .navbar__menu-icon {
    display: none;
  }
  .navbar__menu {
    position: static;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    transform: scaleX(1);
    opacity: 1;
  }
  .navbar__menu--item {
    position: relative;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 0.2em;
    display: flex;
    align-items: center;
  }
  .navbar__menu--link {
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(104, 112, 125);
    transition: color 0.3s;
  }
  .navbar__menu--link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 125, 26);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .navbar__menu--link:hover {
    color: rgb(0, 0, 0);
  }
  .navbar__menu--link:focus::before, .navbar__menu--link:active::before, .navbar__menu--link:hover::before {
    opacity: 1;
  }
  .navbar__menu--shadow {
    display: none;
  }
  .navbar__menu--active {
    transform: scaleX(1);
    opacity: 1;
  }
  .navbar__logo {
    margin: 0 1em;
    padding: 1em;
  }
  .navbar__personal {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar__cart-btn {
    scale: 1.1;
  }
  .navbar__cart-btn:hover > svg > path {
    fill: #000000;
  }
  .navbar__avatar--img {
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid transparent;
    transition: border 0.3s;
  }
  .navbar__cart-preview {
    top: 8rem;
    right: 2.5%;
  }
}
@media (min-width: 992px) {
  .navbar {
    height: 10rem;
  }
  .navbar__menu {
    gap: 1em;
  }
  .navbar__menu--link {
    font-size: 1.8rem;
  }
  .navbar__menu--link:active {
    color: rgb(0, 0, 0);
  }
  .navbar__menu--link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 125, 26);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .navbar__menu--link:hover {
    color: rgb(0, 0, 0);
  }
  .navbar__menu--link:focus::before, .navbar__menu--link:active::before, .navbar__menu--link:hover::before {
    opacity: 1;
  }
  .navbar__menu--shadow {
    display: none;
  }
  .navbar__menu--active {
    transform: scaleX(1);
    opacity: 1;
  }
  .navbar__logo {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 2em;
  }
  .navbar__logo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 125, 26);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .navbar__logo:focus::before {
    opacity: 1;
  }
  .navbar__cart-btn:focus, .navbar__cart-btn:active {
    outline: 1px solid rgb(255, 125, 26);
  }
  .navbar__avatar:focus > .navbar__avatar--img, .navbar__avatar:hover > .navbar__avatar--img {
    border: 2px solid rgb(255, 125, 26);
  }
  .navbar__avatar--img {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 2em;
    margin-left: 1em;
  }
}
@keyframes showCart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  padding-top: 5.5rem;
}

.swiper-slide {
  position: relative;
  height: 80vw;
  overflow: hidden;
}
.swiper-slide .slide1 {
  transform: translateY(-2em);
}

.arrow {
  position: absolute;
  top: 50%;
  z-index: 100;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
.arrow svg {
  scale: 0.8;
}
.arrow__left {
  left: 5%;
}
.arrow__right {
  right: 5%;
}

.images {
  display: none;
}

@media (min-width: 768px) {
  .swiper {
    display: none;
  }
  .images {
    padding: 12rem;
    padding-bottom: 4rem;
    display: block;
    overflow: hidden;
  }
  .images__big-image-box {
    margin-bottom: 2em;
  }
  .images__big-image {
    display: none;
    border-radius: 24px;
  }
  .images__big-image--active {
    display: block;
    opacity: 1;
    animation: showImg 3.5s forwards;
  }
  .images__thumbnails {
    display: flex;
    justify-content: space-between;
  }
  .images__thumbnail-btn {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    width: 12rem;
    height: 12rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    outline: 3px solid transparent;
    border-radius: 24px;
    transition: opacity 0.3s;
  }
  .images__thumbnail-btn:checked {
    border: 3px solid rgb(255, 125, 26);
    opacity: 0.6;
  }
  .images__thumbnail-btn:hover, .images__thumbnail-btn:focus {
    cursor: pointer;
    opacity: 0.6;
    border: 3px solid rgb(255, 125, 26);
  }
  .images__thumbnail-btn1 {
    background-image: url("images/image-product-1-thumbnail.jpg");
  }
  .images__thumbnail-btn2 {
    background-image: url("../../images/image-product-2-thumbnail.jpg");
  }
  .images__thumbnail-btn3 {
    background-image: url("../../images/image-product-3-thumbnail.jpg");
  }
  .images__thumbnail-btn4 {
    background-image: url("../../images/image-product-4-thumbnail.jpg");
  }
}
@media (min-width: 992px) {
  .images-area {
    width: 50%;
  }
  .images {
    padding-top: 18rem;
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .images__thumbnail-btn {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 18px;
  }
}
@media (min-width: 1200px) {
  .images {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .images__thumbnail-btn {
    width: 10rem;
    height: 10rem;
  }
}
@keyframes showImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.product-info {
  padding: 0 2rem;
}
.product-info .company-name {
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgb(104, 112, 125);
  letter-spacing: 0.1em;
}

.product-info-box__product-name {
  margin: 1.5rem 0;
  line-height: 120%;
  font-size: 2.6rem;
}
.product-info-box__product-description {
  line-height: 150%;
  font-size: 1.5rem;
  color: rgb(104, 112, 125);
}

.price-info {
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-info__actual-price {
  display: flex;
  align-items: center;
  font-size: 2.6rem;
  font-weight: 700;
}
.price-info__actual-price .discount {
  margin-left: 0.5em;
  padding: 0.2em 0.5em;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
}
.price-info__previous-price {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: line-through;
  color: rgb(182, 188, 200);
}

.add-to-cart-area {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.add-to-cart-area__counter {
  height: 5rem;
  padding: 0.7em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(247, 248, 253);
  border-radius: 8px;
}
.add-to-cart-area__counter--minus-btn {
  display: flex;
}
.add-to-cart-area__counter--minus-btn, .add-to-cart-area__counter--plus-btn {
  padding: 0.3em;
  transition: scale 0.3s;
}
.add-to-cart-area__counter--minus-btn:focus, .add-to-cart-area__counter--minus-btn:hover, .add-to-cart-area__counter--plus-btn:focus, .add-to-cart-area__counter--plus-btn:hover {
  scale: 1.4;
}
.add-to-cart-area__counter--number {
  font-weight: 700;
}
.add-to-cart-area__add-btn {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  background-color: rgb(255, 125, 26);
  border-radius: 8px;
  transition: opacity 0.3s;
}
.add-to-cart-area__add-btn--icon {
  fill: rgb(0, 0, 0);
  scale: 0.8;
}
.add-to-cart-area__add-btn--text {
  font-size: 1.4rem;
  font-weight: 700;
}
.add-to-cart-area__add-btn:focus, .add-to-cart-area__add-btn:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .product-info {
    padding: 0 12rem;
  }
}
@media (min-width: 992px) {
  .product-info {
    width: 50%;
    padding-top: 18rem;
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .product-info-box__product-name {
    margin: 1.5rem 0 4rem 0;
    font-size: 3.6rem;
  }
  .product-info-box__product-description {
    font-size: 1.6rem;
  }
  .price-info {
    margin: 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.4em;
  }
  .price-info__actual-price {
    font-size: 2.6rem;
    font-weight: 700;
  }
  .price-info__actual-price .discount {
    margin-left: 1em;
  }
  .price-info__previous-price {
    font-size: 1.6rem;
  }
  .add-to-cart-area {
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  .add-to-cart-area__counter {
    width: 40%;
  }
  .add-to-cart-area__add-btn {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .product-info {
    padding-top: 24rem;
  }
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
}

@media (min-width: 992px) {
  .main {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */