*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
  border: 1px solid transparent;
  outline: none;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.no-scroll {
  overflow: hidden;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}
.navbar__navigation {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.navbar__menu-icon {
  width: 2rem;
  height: 2rem;
  padding: 2em;
  background-image: url("../../images/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
  transition: outline 0.3s;
}
.navbar__menu-icon:focus, .navbar__menu-icon:active {
  outline: 1px solid rgb(0, 0, 0);
}
.navbar__menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 65%;
  padding-top: 7em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.navbar__menu--link {
  padding: 0.5em;
  font-size: 2rem;
  font-weight: 700;
  transition: color 0.3s;
}
.navbar__menu--link:focus, .navbar__menu--link:active {
  color: rgb(0, 0, 0);
  outline: 1px solid rgb(255, 125, 26);
}
.navbar__menu--shadow {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.navbar__menu--active {
  transform: scaleX(1);
  opacity: 1;
}
.navbar__logo:focus, .navbar__logo:active {
  outline: 1px solid rgb(255, 125, 26);
}
.navbar__personal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar__cart-btn {
  padding: 1em;
}
.navbar__cart-btn:focus, .navbar__cart-btn:active {
  outline: 1px solid rgb(255, 125, 26);
}
.navbar__avatar {
  margin-right: 1em;
  padding: 0.5em;
  border-radius: 50%;
}
.navbar__avatar--img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid transparent;
}
.navbar__avatar:focus > .navbar__avatar--img {
  border: 2px solid rgb(255, 125, 26);
}

@media (min-width: 768px) {
  .navbar {
    height: 9rem;
    border-bottom: solid 2px rgb(247, 248, 253);
  }
  .navbar__navigation {
    display: flex;
    flex-direction: row;
  }
  .navbar__menu-icon {
    display: none;
  }
  .navbar__menu {
    position: static;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    transform: scaleX(1);
    opacity: 1;
  }
  .navbar__menu--item {
    position: relative;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 0.2em;
    display: flex;
    align-items: center;
  }
  .navbar__menu--link {
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(104, 112, 125);
    transition: color 0.3s;
  }
  .navbar__menu--link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 125, 26);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .navbar__menu--link:hover {
    color: rgb(0, 0, 0);
  }
  .navbar__menu--link:focus::before, .navbar__menu--link:active::before, .navbar__menu--link:hover::before {
    opacity: 1;
  }
  .navbar__menu--shadow {
    display: none;
  }
  .navbar__menu--active {
    transform: scaleX(1);
    opacity: 1;
  }
  .navbar__logo {
    margin: 0 1em;
    padding: 1em;
  }
  .navbar__personal {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar__cart-btn {
    scale: 1.1;
  }
  .navbar__cart-btn:hover > svg > path {
    fill: #000000;
  }
  .navbar__avatar:hover > .navbar__avatar--img {
    border: 2px solid rgb(255, 125, 26);
  }
  .navbar__avatar--img {
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid transparent;
    transition: border 0.3s;
  }
}
@media (min-width: 992px) {
  .navbar {
    height: 10rem;
  }
  .navbar__menu {
    gap: 1em;
  }
  .navbar__menu--link {
    font-size: 1.8rem;
  }
  .navbar__menu--link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 125, 26);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .navbar__menu--link:hover {
    color: rgb(0, 0, 0);
  }
  .navbar__menu--link:focus::before, .navbar__menu--link:active::before, .navbar__menu--link:hover::before {
    opacity: 1;
  }
  .navbar__menu--shadow {
    display: none;
  }
  .navbar__menu--active {
    transform: scaleX(1);
    opacity: 1;
  }
  .navbar__logo {
    margin: 0 2em;
  }
  .navbar__avatar--img {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 2em;
    margin-left: 1em;
  }
}
.images {
  margin-bottom: 1em;
  padding-top: 5.5rem;
}
.images__big-image-box {
  position: relative;
  height: 80vw;
  overflow: hidden;
}
.images__big-image {
  position: absolute;
  top: -3rem;
  z-index: -100;
  display: none;
}
.images__big-image--active {
  display: block;
}
.images__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
.images__arrow svg {
  scale: 0.8;
}
.images__arrow--left {
  left: 5%;
}
.images__arrow--right {
  right: 5%;
}
.images__thumbnails {
  display: none;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
}/*# sourceMappingURL=style.css.map */