// Colors
$orange: rgb(255, 125, 26);
$pale-orange: rgb(255, 237, 224);

$very-dark-blue: rgb(29, 32, 37);
$dark-grayish-blue: rgb(104, 112, 125);
$grayish-blue: rgb(182, 188, 200);
$light-grayish-blue: rgb(247, 248, 253);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$black-bg-shadow: rgba(0, 0, 0, 0.75);
$black-cart-shadow: rgba(0, 0, 0, 0.3);

// Typography
$ff-primary: "Kumbh Sans", sans-serif;
$fw-light: 200;
$fw-regular: 400;
$fw-bold: 700;
$fw-bold-extra: 800;
